<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml" />
	
	<appender name="consoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<pattern>
					<pattern>
						{
						"time_stamp" 		: 	"%date{ISO8601}",
						"api_request" 		: 	"%X{apiRequest}",
						"api_response" 		: 	"%X{apiResponse}",
						"total_time" 		: 	"%X{total_time}"			
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="consoleAppender" />
	</root>
</configuration> 